.rating-stars
  = link_to " ", entree_rate_path(@entree, :value => 1), class: 'fa fa-star-o fa-2'
  = link_to " ", entree_rate_path(@entree, :value => 2), class: 'fa fa-star-o fa-2'
  = link_to " ", entree_rate_path(@entree, :value => 3), class: 'fa fa-star-o fa-2'
  = link_to " ", entree_rate_path(@entree, :value => 4), class: 'fa fa-star-o fa-2'
  = link_to " ", entree_rate_path(@entree, :value => 5), class: 'fa fa-star-o fa-2'