.row
  .col-md-6.text-center.col-centered
    = link_to "Edit Review", edit_entree_review_path, class: "btn btn-primary"
    %h1= @entree.title
    %p= @review.stars
    %p= @review.body
.row
  .col-md-12.text-center
    %button.btn.btn-primary#all-images
      Show/Hide Images
    %button.btn.btn-primary#img-button
      Add an image?
    = render 'images/form'
    #image-group
      = render 'images/images'