.row
  .col-md-6.text-center.col-centered
    = link_to "Edit Review", edit_entree_review_path, class: "btn btn-primary"
    %h1= @entree.title
    %p= @review.stars
    %p= @review.body
    = render 'images/images'
    = render 'images/form'