.units-row
  .unit-centered.unit-50.text-centered
    = link_to "Edit Entree", edit_entree_path, class: "btn btn-black"
    = link_to "Add Review", new_entree_review_path(@entree), class: "btn btn-black"
    %h1= @entree.title
    %p= @entree.description
    - @reviews.each do |review|
      %p= link_to review.stars, [@entree, review]